
body {
  background-color: #FEFEFE;
}

.container {
  background-color: black;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cards {
  background-color: white;
  width: 25%;
  margin: 25px;
  padding: 20px;
  box-shadow: 2px 2px 10px #5D8ED4;
}

h3 {
  color: #5D8ED4;
  text-align: center;
}

img {
  width: 300px;
  height: 200px;
  object-fit: contain;
}