
body {
    background-color: azure;
}

h2 {
    color:brown;
    text-align: center;
    font-size: 5rem;
    margin: 0 0 2em;
}

.container {
    background-color: aliceblue;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}